 <link rel="stylesheet" href="/css/selectstyle.css">
<h1>Meu Primeiro API</h1>
<BR>
<hr>
<BR>
<a href='inserir'>Inserir</a>
<a href='excluir'>Excluir</a>
<a href='produtos'>Produtos</a>
<a href='update'>Update</a>


